<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Academic Performance Dashboard</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-light">
    <div class="container py-5">
      <!-- Heading -->
      <div class="text-center mb-5">
        <h1 class="fw-bold">
          Academic Performance and Examination Intelligence System
        </h1>

        <p class="text-secondary fs-5">Teacher Dashboard</p>
      </div>

      <!-- KPI Cards -->

      <div class="row g-4">
        <div class="col-md-3">
          <div class="card shadow border-0">
            <div class="card-body text-center">
              <h6 class="text-muted">Total Students</h6>

              <h2>100</h2>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow border-0">
            <div class="card-body text-center">
              <h6 class="text-muted">Average SGPI</h6>

              <h2>7.86</h2>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow border-0">
            <div class="card-body text-center">
              <h6 class="text-muted">Average Attendance</h6>

              <h2>84.6%</h2>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow border-0">
            <div class="card-body text-center">
              <h6 class="text-muted">At Risk Students</h6>

              <h2>18</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
